<div class='header'>
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="header-home" aria-label="Home">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
    </a>
    <form class="header-search" action="{{ '/search/' | relative_url }}" method="get" role="search">
      <input type="search" name="q" placeholder="Search resources…" aria-label="Search resources" class="header-search-input" />
    </form>
  </div>
</div>
